---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/page.njk
renderData:
  title: "My “{{ tag }}”-related projects”"
---
<h1>My “{{ tag }}”-related projects</h1>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
<nav>
  <a href="{{ '/work/' | url }}">← Work index</a>
</nav>
