/* styles */

:root {
	--background: #FCFCFC;
  --headline: #0a0a0aff;
  --paragraph: #0a0a0aff;
	--text50: #939597ff;;
	--white: white;
	--primary: #f5d04c;
	--secondary: #d46d0d;
  --tertiary: #f9e69f;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	color: var( --paragraph);
  background-color: var(--background);
}

/* Layout styles mobile -----------------------------------*/
body {
	/*display: grid;
	height: 100vh;
	grid-template-columns: 3fr 1fr;*/
	/*grid-template-rows: auto 1fr auto;*/
	/*grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
	*/
	display: grid;
	height: 100vh;
	grid-template-areas:
    "header"
    "wrapper"
    "footer";
}
.mainpage {
    display: grid;
   	grid-template-areas:
   	"main"
   	"sidebar";
   }

/* casestudy page layout */
.casestudy {
    display: grid;
   	grid-template-areas:
   	"casestudydata"
   	"main";
   }

/* homepage layout mobile */
	 .homepage {
	 	     display: grid;
				 padding: 0 1em;
	 	    	grid-template-areas:
	 				"hero"
	 				"main";
	 	    }
	 .hero {
	 	padding: 10em;
	 			   }
	 .homepage .hero{
	 	min-height: 5em;
	 }
	 /* end homepage layout  */



/* Layout styles -----------------------------------*/
@media screen and (min-width:768px) {
  body {
    padding:0 2em;
    height: 100vh;
    grid-template-areas:
      "header"
      "wrapper"
      "footer";
       }
   .mainpage {
    grid-template-columns: 3fr 1fr;
   	grid-template-areas:"main sidebar";
   }

	 /* homepage layout  */
	 .homepage {
				 display: grid;
				 padding: 0 10em;
					grid-template-areas:
					"hero"
					"main";
				}
	 .hero {
		padding: 10em;
					 }
	 .homepage .hero{
		min-height: 10em;
	 }
	 /* end homepage layout  */
	 
	.casestudy {
    grid-template-columns: 1fr 3fr;
   	grid-template-areas:"casestudydata main";
   }
   .postslist-home {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	grid-template-areas: "article article";
	}

   }


@media screen and (min-width:1240px) {
  body {
  	padding:0 8em;
  	margin: auto;
  	max-width: 1240px;
    height: 100vh;
    grid-template-areas:
      "header"
      "wrapper"
      "footer";
       }
    .mainpage {
    grid-template-columns: 3fr 1fr;
   	grid-template-areas:"main sidebar";
   }

	 /* homepage layout  */
	 .homepage {
	 	     display: grid;
	 			 padding: 0 10em;
	 	    	grid-template-areas:
	 				"hero"
	 				"main";
	 	    }
	 .hero {
	 	padding: 10em;
	 			   }
	 .homepage .hero{
	 	min-height: 10em;
	 }
	 /* end homepage layout  */

   .casestudy {
    grid-template-columns: 1fr 3fr;
   	grid-template-areas:"casestudydata main ";
   }
    .postslist-home {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	grid-template-areas:
    "article article";
}
    :root {
		font-size: 2rem;
	}
   }

  section {
    break-inside: avoid;
  }
}

/* grid layout name -----------------------------------*/
header {
  grid-area: header;
}
.wrapper{
	grid-area: wrapper;
}
main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.casestudydata {
  grid-area: casestudydata;
}
.homepage{
  grid-area: homepage;
}
.hero{
  grid-area: hero;
}
.herocontent{
  grid-area: herocontent;
}
.profilepic{
  grid-area: profilepic;
}
main > section .postslist-home > article {
  grid-area: article;
}


footer {
  grid-area: footer;
}

/* Layout paddings -----------------------------------*/
header, main,
.sidebar,.hero,
.casestudydata,
footer {
	padding: 1em;
}

/* -----------------------------------*/
p,
pre,
code {
	line-height: 1.5;
}

h1,h2,h3,h4,h5{
  color: var(--headline);
}

h6{
  color: var(--text50);
}

a[href],
a[href]:visited {
	color: var(--secondary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

a[href]:hover {
  color: var(--primary);
}

a[href].newtab{
	target:"_blank"
}


main {
	max-width: 40em;
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: disc inside;
}

/* Header Logo (style as h2) */
a[href].headerMyName {
	color: var(--headline);
	/* margin: .67em 0; */
	/* font-weight: bold; */
	font-style: normal;
	/* h2 styles */
		/* display: block; */
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
		/* end of h2 styles */
	border-bottom: 0.15em solid var(--primary);
	display: inline-block;
	line-height: 1;
}
a[href].headerMyName:link{
	text-decoration: none;
}
a[href].headerMyName:hover{
	text-decoration: none;
	color: var(--primary);
}

/* .underline {
  border-bottom: 0.15rem solid #f5d04c;
  display: inline-block;
  line-height: 1;
} */
/* source for underline code:https://codepen.io/johndjameson/pen/ZpLQqV */

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 1em;
	font-size: small;
	text-transform: uppercase;
	letter-spacing: 0.1em;

}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

/* hero h1  h6 */
.hero > h6{
	margin-block-start: 0em;
}

/* sidebar, casestudydata */
.sidebar > h3,
.casestudydata > h3{
	margin: 0 0 .67em 0;
}

/*divider*/
hr{
  border: 0.5px solid var(--paragraph);
  margin: 3em 0em 1em 0em;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--paragraph);
}
main > article > img, article img, section article img{
	width:100%;
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--white);
	font-weight: 700;
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  /*display: none;*/
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--paragraph);
	font-weight: 700;
	cursor: pointer;
}

button:hover {
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	font-weight: bold;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

/* blockquote */

blockquote {
  border-left: 10px solid gold;
  margin: 1.5em 0;
  padding: 0.5em 0 0.5em 1em;
}

blockquote p {
  display: inline;
}

/* tabs  */
