<footer>
  <small>
  {{ author.name or metadata.author.name }} - a London-based user experience designer and researcher. Photographer, urban gardener, and matcha lover. <span>&#x1F375;</span>
  <br>
  <a href="mailto:hello@christielau.me?subject=Coming%20from%20your%20website&body=Hi%20Christie,%20I%20would%20like%20to%20see%20more%20of%20your%20work!%20Let's%20chat">Email</a> |
  <a href="{{ author.Twitter or metadata.author.Twitter }}" target="_blank">Twitter</a> |
  <a href="{{ author.LinkedIn or metadata.author.LinkedIn }}" target="_blank">Linkedin</a>
  </small>
</footer>
