<footer>
  <small>
  Christie Lau - a London-based user experience designer and researcher. Psychologist, photographer, urban farmer, and matcha lover.
  
  You can find me on [Twitter](https://twitter.com/cC_L/) and [Linkedin](https://www.linkedin.com/in/lauchristie/). 
  </small>
</footer>
