<div class="headerNEW">
	<div class="myName">
		<a href="{{ '/' | url }}" class="headerMyName"">{{ metadata.title }}</a>
	</div>
	<div class="nav">
		{% include "components/nav.njk" %}
	</div>
	new header
</div>
