<div class="hero">
  <h1>Strive to design a better future for humanity and the planet <span>	&#127759;</span></h1>
  <h6 style="margin-block-start: 0em;">↑ Rather bold statement summing up what I aspire in my career</h6>
</div>
