<div style="padding: 0 6em;">

<div class="profilepic">
	<img src="/static/img/christie-lau-ux-profile-pic.png" width="100px" style="border-radius: 100%; " alt="Christie Lau Profile Picture">
<!-- 		<img src="/static/img/christie-lau-ux-profile-pic.png" width="100px" style="border-radius: 100%; padding: 0.5em;" alt="Christie Lau Profile Picture"> -->
</div>
<div class="herocontent">
<h1>Hello, I'm Christie, a product designer in London. <span>&#x1F481;&#x200D;&#x2640;&#xFE0F;</span></h1>
</div>