---
layout: layouts/base.njk
section: home
---


<div class="homepage">
  {% include "components/hero.njk" %}

  <div class = "main">
    {{ layoutContent | safe	 }}

    <div class="tagsList">
    <h4>Things I've worked on ↓</h4>
    {% include "components/tagslist.njk" %}
    </div>

    <h4>About this website <span>&#128521;</span></h4>
    <p>
      I see my personal website as my playground for learning to code. I code this website with <a href="https://www.11ty.dev/" target="_blank"> Eleventy</a>. Still very far from what I've got on my design sketches, getting there.
      <div class="carbonbadgecontainer">
      <div id="wcb" class="carbonbadge"></div>
      <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>
    </p>

  </div>
</div>

{# {% set postslist = collections.posts %} {% include "components/postslist-home.njk" %} #}
