---
layout: layouts/base.njk
section: home
---

<div class="mainpage">
<main>
{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist-home.njk" %}
</main>
{% include "components/sidebar.njk" %}
</div>
