---
layout: layouts/base.njk
section: post
---
<div class="casestudy">
  {% include "components/casestudydata.njk" %}
  <main>
    <article>
      {# <h1>{{ title }}</h1> #}

        <img src="{{ image }}" alt="{{ title }}" />

      {{ layoutContent | safe }}

    </article>
    
    {% set postslist = collections.posts %}
    {% include "components/postslist-home.njk" %}
    
    <nav>
      <a href="{{ '/work/' | url }}">← See all my work</a>
    </nav>
  </main>
</div>


